/* Set content for font-families */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* Sử dụng các font trong Quill */
.ql-font-lato,
.ql-font span[data-value="Lato"]::before {
  font-family: 'Lato', sans-serif;
}

.ql-font-Inter,
.ql-font span[data-value="Inter"]::before {
  font-family: 'Inter', sans-serif;
}

.ql-font-roboto,
.ql-font span[data-value="Roboto"]::before {
  font-family: 'Roboto', sans-serif !important;
}

.ql-font-nunito-sans,
.ql-font span[data-value="Nunito Sans"]::before {
  font-family: 'Nunito Sans', sans-serif;
}

.ql-font-gilroy,
.ql-font span[data-value="Gilroy"]::before {
  font-family: 'Gilroy', sans-serif;
}





/* Set content for sizes */
.ql-size-extra-small,
.ql-size span[data-value="extra-small"]::before {
  font-size: 13px !important;
}
.ql-size-small,
.ql-size span[data-value="small"]::before {
  font-size: 14px !important;
}
.ql-size-medium,
.ql-size span[data-value="medium"]::before {
  font-size: 18px !important;
}
.ql-size-large,
.ql-size span[data-value="large"]::before {
  font-size: 20px !important;
}

.productpage .ql-editor {
  min-height: unset; 
  overflow-y: hidden;
  font-size: 16px;
}

.ql-editor {
  min-height: 50vh; 
  font-size: 16px;
}
.App .ql-snow .ql-tooltip.ql-flip {
  width: auto;
  left: 17px!important;
  white-space: normal;
}

.ql-size-10px {
  font-size: 10px;
}
.ql-size-11px {
  font-size: 11px;
}
.ql-size-13px {
  font-size: 13px;
}
.ql-size-14px {
  font-size: 14px;
}
.ql-size-16px {
  font-size: 16px;
}
.ql-size-18px {
  font-size: 18px;
}
.ql-size-20px {
  font-size: 20px;
}
.ql-size-24px {
  font-size: 24px;
}
.ql-size-30px {
  font-size: 30px;
}
.ql-size-36px {
  font-size: 36px;
}
.ql-size-40px {
  font-size: 40px;
}

.ql-editor .ql-align-center img {
  display: block;
  margin: 0 auto !important;
}


.ql-editor h1 {
  font-size: 2.5rem; /* Hoặc giá trị cụ thể như 40px */
}
.ql-editor h2 {
  font-size: 2rem;
}
.ql-editor h3 {
  font-size: 1.75rem;
}
.ql-editor h4 {
  font-size: 1.5rem;
}
.ql-editor h5 {
  font-size: 1.25rem;
}
.ql-editor h6 {
  font-size: 1rem;
}



 @page {
  margin: 1in;
}

@media print {
  body {
    background: none;
  }
  .container .ql-editor {
    width: 6.5in;
    height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
  }
  .container .ql-toolbar.ql-snow {
    display: none;
  }
} 